<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubt in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>This shows your doubt in detail.</h2>
    <p>Doubt id : <%= post.id %></p>
    <div class = "post">
        <h3 class="user"> @<%= post.username %> </h3>
        <h4 class="content"> <%= post.content %> </h4>
        <h4 class="reply"> <%= post.reply %> </h4>
    </div>
</body>
</html>